<?xml version='1.0' encoding='utf-8'?>
<widget
    id="mobile.emart.com"
    version="1.0.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
 
    <name>SAF eMart</name>
    <description>
        SAF eMart Mobile App
    </description>
    <author email="wilson_na@yahoo.com.sg" href="http://www.ubiqworks.com">
        Wilson Na
    </author>
 
    <access origin="*" />
 
    <preference name="EnableDeveloperConsole" value="false"/>
    
    
    <icon src="www/img/icon_big.png" />
</widget>